.btnGrid {
    padding: 10px;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: fit-content;
}

.govBtn {
    text-decoration: none;
    background-color: orange;
    height: 60px;
    width: 60px;
    border-radius: 20px;
    margin: 5px;
}

.cdcBtn {
    text-decoration: none;
    background-color: rgb(99, 99, 241);
    height: 60px;
    width: 60px;
    border-radius: 20px;
    margin: 5px;
}

.whoBtn {
    text-decoration: none;
    background-color: rgb(105, 188, 202);
    height: 60px;
    width: 60px;
    border-radius: 20px;
    margin: 5px;
}

.testBtn {
    text-decoration: none;
    background-color: greenyellow;
    height: 60px;
    width: 60px;
    border-radius: 20px;
    margin: 5px;
}